
.base-container {
    width: calc(100vw - 12rem);
    margin: 10rem 6rem 3rem;
    background-color: var(--container-color);
    position: relative;
    z-index: 1;
    padding: 12px;
    
    border: 2px solid var(--header-color);
    border-radius: var(--border-radius);
}

.base-container-mobile {
    width: calc(100vw - 20px);
    margin: 10rem 10px 3rem;
}

.wall-icon{
    height: 150px;
    float: right;
    margin-right: 1rem;
    top: -90px;
    position: relative;
}
.content-space{
    width: 100%;
    padding: 0 20% 0 80px;
}

.content-space-mobile{
    padding: 0;
}