
.project{
    width: 100%;
    position: relative;
    padding: 1rem;
    margin-bottom: 3rem;
}

.project-head{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.badge{
    padding: 3px 8px;
    border-radius: var(--border-radius);
    display: flex;
    width: fit-content;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.badge-container{
    display: flex;
    flex-direction: row;
    margin: 0 0 0.5rem 0;
    flex-wrap: wrap;
}

.project-background{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    /*The Combination of red and hue rotate 
    together with a red image allows me to set custom colors really easily*/
    border-left: 2px solid red;
}

.project-background-image{
    opacity: 0.2;
    background-image: url("../../../public/recources/Dither.png");
    background-size: 15rem;
    background-repeat: repeat-y;
    position: absolute;
    width: 100%;
    height: 100%;
}